@import "../header.css";
*{
padding: 0;
margin: 0;
}

.footer{
    width: 100%;
    position: sticky;
    bottom: 0;
    color:#0a0d49;
    background-color: #6b7a6e5e;
    padding: 20px 20px;
}

.container-footer{
    height: 15%;
}

.contenedor-iconos{
    display: flex;
    justify-content: left;
}

.navbar-brand{
    padding: 6px
}

a{
    margin: 0;
    padding: 0;
}

.footer-pos{
    display: flex;
    justify-content: center;
}

.navbar{
      display: flex;
      flex-direction: column;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: right;
      font-size: 16px;
      padding: 2px;
      text-decoration: none;
       
}

.navbar a{
    padding: 0;
    margin: 0;
}



