p{
    color: #282C87;
    font-family: sans-serif;
    word-spacing: 200px;
    font-size: 14px;
    margin-top: 500px;
    background-color: #A7CDAE;
    margin-right: 890px;
    text-indent: 5px;
    height: 30px;

}